langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-core>=0.3.0,<0.4.0
langchainhub>=0.1.14
gradio
python-dotenv>=1.0.1
together>=0.2.11
requests>=2.31.0
langchain-together
amadeus
pydantic>=2.6.0